div(class="text-field block__text-field-hover block__dropdown")
    div(class="text-field__description text-field__description_height_hover-focus")
        span(class="type__font_H3") dropdown
        span(class="text-field__description_text_state") default
    div(class="text-field__input text-field__input_border_default dropdown__icon-box_position_space")
        span(class="type__font_Body") Сколько гостей
        .dropdown__icon-box
            .dropdown__icon keyboard_arrow_down