div(class="dropdown inputs__dropdown")
    div(class="label label_size_hover")
        span(class="type__font_H3") dropdown
        span(class="label__state") default
    div(class="input input_border_default")
        span(class="type__font_Body") Сколько гостей
        .arrow
            .div(class="arrow__icon arrow__icon_color_gray") keyboard_arrow_down