include ./checkbox/checkbox.pug
.checkbox-buttons
    .type__font_H3 checkbox buttons
    +Checkbox(false, 'Можно курить')
    +Checkbox(true, 'Можно с питомцами')
    +Checkbox(true, 'Можно пригласить гостей (до 10 человек)')
