.button-sign {
    width: 99px;
    height: 44px;
    fill: white;
    stroke: url(#linear-gradient);
    stroke-width: 2px;
}
.button-sign__text {
    position: absolute;
    display: inline-block;
    text-anchor: middle;
    fill: #BC9CFF;
}