.button-sign {
    width: 99px;
    height: 44px;
    fill: white;
    stroke: url(#linear-gradient);
    stroke-width: 2px;
}
.button-sign__text {
    position: absolute;
    display: inline-block;
    font-family: Montserrat-Bold;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    font-size: 12px;
    text-anchor: middle;
    text-transform: uppercase;
    fill: #BC9CFF;
}