svg
    linearGradient(id="linear-gradient")
        stop(offset="0%" stop-color="#BC9CFF")
        stop(offset="100%" stop-color='#8BA4F9')
    rect(class="button-sign" rx='22')
    text(class="button-sign__text" x="49.5" y="26") войти
    