ul(class="paginator")
    li(class="paginator__page-number paginator__page-number_active") 1
    li.paginator__page-number 2
    li.paginator__page-number 3
    li.paginator__page-number ...
    li.paginator__page-number 15
    li.paginator__page-number
        div(class="arrow paginator__arrow") arrow_forward
div(class="paginator__description type__font_Body") 1 - 12 из 100+ вариантов аренды
    
    