ul(class="paginator")
    li(class="paginator__page-number paginator__page-number_style_active") 1
    li.paginator__page-number 2
    li.paginator__page-number 3
    li.paginator__page-number ...
    li.paginator__page-number 15
    li(class="paginator__page-number paginator__page-number_style_arrow")
        .arrow arrow_forward
p.paginator__description 1-12 из 100+ вариантов аренды
    
    