mixin RadioButton(text, checked)
    .radio-button
        if checked
            div(class="radio-button__select radio-button__select_checked")
                include ./radio-button__point.pug
            div(class="radio-button__label radio-button__label_checked")=text
        else 
            .radio-button__select
                include ./radio-button__point.pug         
            .radio-button__label=text
