
- var values = ['100', '75', '50', '25', '5', 'Purple', 'Green'];
ul(class="colorbox colorbox_position")
    each val in values
        li(class="item")
            div(class='item__rect item__rect_color_'+val)
            div(class='item__text')
                if val == 'Purple'
                    spav Purple
                    br
                    span #BC9CFF
                else
                    if val == 'Green'
                        span Green
                        br
                        span #6FCF97
                    else
                        span Dark Shade #{val}%
                        br
                        span #1F2041
            