
- var values = ['100', '75', '50', '25', '5', 'Purple', 'Green'];
ul(class="colorbox")
    each val in values
        li(class="color")
            div(class='color__box color__box_color_'+val)
            div(class='color__text')
                if val == 'Purple'
                    span Purple
                    br
                    span #BC9CFF
                else
                    if val == 'Green'
                        span Green
                        br
                        span #6FCF97
                    else
                        span Dark Shade #{val}%
                        br
                        span #1F2041
            