doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=1440px, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Form Elements
        link(rel="stylesheet", href="style.css")
    body
        include ../logo.pug
        .elements
            .inputs
                include ./text-field/text-field.pug
                include ./text-field-hover/text-field-hover.pug
                include ./dropdown/dropdown.pug
                include ./masked-text-field/masked-text-field.pug
                include ./date-dropdown/date-dropdown.pug
                include ./filter-date-dropdown/filter-date-dropdown.pug
                include ./subscription-text-field/subscription-text-field.pug
            .select
                include ./checkbox-buttons/checkbox-buttons.pug
                include ./radio-buttons/radio-buttons.pug
                include ./toggle-buttons/toggle-buttons.pug

            