@import "./input/input.scss";
@import "./label/label.scss";
@import "./arrow/arrow.scss";
@import "./checkbox-buttons/checkbox-buttons.scss";
@import "./button/button.scss";
@import "./button-sign/button-sign.scss";
@import "./text-field/text-field.scss";
@import "./text-field-hover/text-field-hover.scss";
@import "./dropdown/dropdown.scss";
@import "./masked-text-field/masked-text-field.scss";
@import "./date-dropdown/date-dropdown.scss";
@import "./filter-date-dropdown/filter-date-dropdown.scss";
@import "./subscription-text-field/subscription-text-field.scss";

body {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    background-color: #FFFF;
}
.elements {
    display: flex;
    margin-left: 140px;
    margin-top: 140px;
    
    
    .inputs {
        display: flex;
        flex-direction: column;
        &__text-field {
            margin-bottom: 20px;
            margin-left: 1px;
        }
        &__text-field-hover {
            margin-bottom: 19.56px;
            margin-left: 1px;
        }
        &__dropdown {
            margin-bottom: 19.56px;
            margin-left: 1px;
        }
        &__masked-text-field {
            margin-bottom: 40px;
            margin-left: 1px;
        }
        &__date-dropdown {
            display: flex;
            justify-content: space-between;
            width: 320px;
            height: 65px;
            margin-bottom: 40px;
            margin-left: 1px;
        }
        &__filter-date-dropdown {
            margin-bottom: 41px;
            margin-left: 1px;
        }
    }
    .select {
        display: flex;
        flex-direction: column;
        margin-left: 126px;
    }

}

