.checkbox {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    &__select {
        box-sizing: border-box;
        width: 20px;
        height: 20px;
        background: #FFFFFF;
        border: 1px solid rgba(31, 32, 65, 0.25);
        border-radius: 4px;
        text-align: center;
        padding-top: 2px;
        cursor: pointer;
        & :first-child {
            opacity: 0;
        } 
        &_checked {
            & :first-child {
                opacity: 1;
            }
            border: 1px solid #BC9CFF;   
        }
    }
    &__label {
        display: block;
        width: 192px;
        font-family: Montserrat-Regular;
        font-size: 14px;
        line-height: 18px;
        color: rgba(31, 32, 65, 0.5);
    }
}