include ./radio-button/radio-button.pug 
.radio-buttons
    div(class="radio-buttons__title type__font_H3") radio buttons
    .radio-buttons__content
        +RadioButton('Мужчина', true)
        +RadioButton('Женщина', false)