.range-slider
    .range-slider__text
        .type__font_H3 range slider
        .range-slider__cost 5 000&#8381 - 10 000&#8381
    .range-slider__slider
        
        
        

        

