.range-slider {
    width: 266px;
    height: 47.44px;
    &__text {
        display: flex;
        justify-content: space-between;
        margin-bottom: 23px;
    }
    &__cost {
        width: 120px;
        display: flex;
        justify-content: flex-end;
        font-family: Montserrat-Regular;
        font-size: 12px;
        line-height: 15px;
        text-align: right;
        text-transform: uppercase;
        color: rgba(31, 32, 65, 0.5);
    }
    //контейнер для плагина ionRangeSlider
    &__slider {

    }
  
}