.range-slider
    .range-slider__text
        .type__font_H3 range slider
        .range-slider__cost
            .range-slider__initial-cost 5 000&#8381
            span -
            .range-slider__final-cost 10 000&#8381
    .range-slider__slider
        .range-slider__range
            .range-slider__point
            .range-slider__line
            .range-slider__point
        

        

