$color: #1F2041;
$opacity: 0;

@for $i from 4 to 0 {
    .item__rect_color_#{$i*25} {
        background-color: $color;
        opacity: $i*0.25;
    }  
}
.item__rect_color_5 {
    background-color: $color;
    opacity: 0.05;
}
.item__rect_color_Purple {
    background-color: #BC9CFF;
}
.item__rect_color_Green {
    background-color: #6FCF97;
}


