.item__text {
    display: inline-block;
    font-family: quicksand;
    font-style: normal;
    color: #1F2041;
    font-size: 19px;
    line-height: 12px;
    font-style: mixed;
    text-align: left;
    padding-left: 40px;
    :first-child {
        font-weight: bold;
    }
}