div(class="text-field block__text-field-hover")
    div(class="text-field__description text-field__description_height_hover-focus")
        span(class="type__font_H3") text field
        span(class="text-field__description_text_state") hover / focus
    div(class="text-field__input text-field__input_border_hover-focus")
        span(class="type__font_Body") This is pretty awesome