div(class="text-field-hover inputs__text-field-hover")
    div(class="label label_size_hover")
        span(class="type__font_H3") text field
        span(class="label__state") hover / focus
    div(class="input input_border_hover")
        span(class="type__font_Body") This is pretty awesome