div(class="text-field wrapper-1__text-field")
    div(class="label label_size_default")
        span(class="type__font_H3 label__text") text field
        span(class="label__state") default
    div(class="input input_border_default")
        span(class="input_placeholder_default") Email