div(class="text-field")
    .text-field__description
        div(class="text-field__description_text_label type__font_H3") text field
        div(class="text-field__description_text_state") DEFAULT
    .text-field__input
        span(class="text-field__input_placeholder_text type__font_Body") Email