.text-field {
    width: 320px;
}
.text-field__description {
    display: flex;
    justify-content: space-between;
}
.text-field__description_height_default {
    height: 23px;
    align-items: flex-start;
}
.text-field__description_text_label {
    display: inline-block;
    font-size: 12px;
    align-self: center;
}
.text-field__description_text_state {
    display: inline-block;
    font-family: Montserrat-Regular;
    font-size: 12px;
    text-transform: uppercase;
    color: rgba(31, 32, 65, 0.5);
    
}
.text-field__input {
    display: flex;
    align-items: center;
    height: 44px;
    background: #FFFFFF;
    box-sizing: border-box;
    border-radius: 4px;
    padding-left: 15px;
}
.text-field__input_border_default {
    border: 1px solid rgba(31, 32, 65, 0.25);
}
.text-field__input_placeholder_default {
    font-family: Montserrat-Regular;
    font-size: 14px;
    line-height: 18px;
    color: rgba(31, 32, 65, 0.25);
}
