mixin Rate(count)
    .rate
        each i in [1, 2, 3, 4, 5]
            if i>count
                .rate__star="star_border"
            else
                .rate__star="star"

            
            
            

