@import "./colorbox/colorbox.scss";
@import "./types/types.scss";

body {
    margin: 0px;
    padding: 0px;
}
.header {
    height: 145px;
}
.page {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
}
.hide-block1 {
    width: 150px;
    flex-shrink: 4;
}
.hide-block2 {
    width: 428px;
    flex-shrink: 4; 
}

@import "./media-queries.scss";