<!DOCTYPE html>
html(lang="en")
    head
    body
        div(class="colorbox__item")
            div(class='color')
            div(class='text') 
                p Dark shade 100%
                p #1F2041
                