div(class="filter-date-dropdown wrapper-1__filter-date-dropdown")
    div(class="label label_size_hover")
        span(class="type__font_H3") filter date dropdown
    div(class="input input_border_default")
        span(class="type__font_Body") 19 авг - 23 авг
        .arrow
            div(class="arrow__icon arrow__icon_color_gray") keyboard_arrow_down