.toggle {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    &__select {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 40px;
        height: 20px;
        padding-left: 3px;
        padding-right: 3px;
        background: #FFFFFF;
        border: 1px solid rgba(31, 32, 65, 0.25);
        box-sizing: border-box;
        border-radius: 10px;
        & :first-child {
            fill: rgba(31, 32, 65, 0.25);
            
        }
        &_checked {
            border: 1px solid #BC9CFF;
            justify-content: flex-end;
            & :first-child {
                fill: url(#paint0_linear); //ссылка на градиентный фон из файла svg
            }
        }
    }
    &__label {
        margin-left: 10px;
        font-family: Montserrat-Regular;
        font-size: 14px;
        line-height: 18px;
        color: rgba(31, 32, 65, 0.75);

    }
}