.label {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    
    &_size_default {
        height: 23px;
    }
    &_size_hover {
    height: 20.44px;
    align-items: stretch;
    }
    &__text {
    display: inline-block;
    align-self: center;
    line-height: 15px;
    }
    &__state {
    display: inline-block;
    align-self: flex-start;
    font-family: Montserrat-Regular;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: rgba(31, 32, 65, 0.5);
    }
}