mixin type(name, size, description)
    li(class="type")
        div(class="type__title type__title_size_"+size)=name
        div(class="type__font type__font_"+name)  !{description}

ul(class="types")
    +type('H1', '24px', "<span>This one is the sub-section or</span><br><span>widget title</span>")
    +type('H2', '19px', "<span>Next one is the item title inside</span><br><span>widgets</span>")
    +type('H3', '12px', "<span>this is a label or cta text</span>") 
    +type('Body', '14px', "<span>This is the body text which is used for most</span><br><span>of the design, like paragraphs, lists, etc.</span>")