@import "./__item/types__item.scss";

.types {
    display: flex;
    order: 4;
    flex-direction: column;
    align-content: flex-start;
    list-style: none;
    padding: 0px;
}

.types_position {
    margin-top: 145px;
}