ul(class="types types_position")
    li(class="types__item")
        div(class="types__title types__title_size_24px") H1
        div(class="types__description-h1") 
            span This one is the sub-section or
            br
            span widget title
    li(class="types__item")
        div(class="types__title types__title_size_19px") H2
        div(class="types__description-h2") 
            span Next one is the item title inside
            br
            span widgets
    li(class="types__item")
        div(class="types__title types__title_size_12px") H3
        div(class="types__description-h3") 
            span this is a label or cta text
    li(class="types__item")
        div(class="types__title types__title_size_14px") Body
        div(class="types__description-body") 
            span This is the body text which is used for most
            br
            span of the design, like paragraphs, lists, etc.
        