@import "./__item/types__item.scss";

.types {
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    align-content: flex-start;
    list-style: none;
    padding: 0px;
    margin: 0px;
}