div(class="text-field block__text-field block__masked-text-field")
    div(class="text-field__description text-field__description_height_default")
        span(class="text-field__description_text_label type__font_H3") masked text field
        span(class="text-field__description_text_state") default
    div(class="text-field__input text-field__input_border_default")
        span(class="text-field__input_placeholder_default") ДД.ММ.ГГГГ