div(class="masked-text-field inputs__masked-text-field")
    div(class="label label_size_default")
        span(class="label__text type__font_H3") masked text field
        span(class="label__state") default
    div(class="input input_border_default")
        span(class="input_placeholder_masked") ДД.ММ.ГГГГ