.subscription-text-field
    div(class="label label_size_hover")
        span(class="type__font_H3") subscription text field
    div(class="input input_border_default")
        span(class="input_placeholder_masked") Email
        div(class="arrow subscription-text-field__arrow") arrow_forward
            