div(class="text-field filter-date-dropdown")
    div(class="text-field__description text-field__description_height_hover-focus")
        span(class="type__font_H3") subscription text field
    div(class="text-field__input text-field__input_border_default dropdown__icon-box_position_space")
        span(class="text-field__input_placeholder_masked") Email
        .dropdown__icon-box
            .dropdown__icon keyboard_arrow_down