
@font-face {
    font-family: 'Quicksand-Medium';
	src: local('Quicksand-Medium'),
			url('./fonts/Quicksand-Medium.ttf') format('ttf'), 
			url('./fonts/Quicksand-Medium.woff') format('woff'), 
			url('./fonts/Quicksand-Medium.svg') format('svg');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
	src: local('Montserrat-Light'),
			url('./fonts/montserratlight.ttf') format('ttf'),
			url('./fonts/montserratlight.woff') format('woff'),
			url('./fonts/montserratlight.svg') format('svg');	
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat-Regular';
	src: local('Montserrat-Regular'),
			url('./fonts/montserrat.ttf') format('ttf'),
			url('./fonts/montserrat.woff') format('woff'),
			url('./fonts/montserrat.svg') format('svg');	
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat-Bold';
	src: local('Montserrat-Bold'),
			url('./fonts/montserratbold.ttf') format('ttf'), 
			url('./fonts/montserratbold.woff') format('woff'), 
			url('./fonts/montserratbold.svg') format('svg');
    font-weight: 700;
    font-style: normal;
}

@import "./UI_kit/colors&type/colors&type.scss";