@import "./toggle/toggle.scss";

.toggle-buttons {
    margin-top: 40px;
    width: 260px;
    height: 89px;
    &__title {
        margin-bottom: 16px;
    }
    &__toggle {
        margin-bottom: 14px;
    }
}
