include ./toggle/toggle.pug
.toggle-buttons
    div(class="toggle-buttons__title type__font_H3") toggle
    .toggle-buttons__toggle
        +Toggle('Получать спецпредложения', true)
    +Toggle('Получать спецпредложения', false)